.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: solid 1px teal;
    cursor: pointer;

    &.active {
        border: solid 2px orange;
    }
}

.myBtn + .myBtn {
    margin-left: 5px;
}

.buttons-page-container {
    display: flex;
    justify-content: center;
}
