.main-panel {
  background-color: rgba(174, 254, 254, 0.672);
  display: flex;
  align-items: center;

  button {
    word-wrap: normal;
  }

  a {
    text-decoration: none;
    color: rgb(3, 3, 193);
  }

  a + a {
    margin-left: 30px;
  }
}

.nav-container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
